@import url("https://fonts.googleapis.com/css?family=Nunito");


/* Define variable names */
:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --pink: #fc8eac;
}

/* Stylize my web */

/* Global CSS */
* {
    font-family: "Nunito";
}

h1, 
h2 {
    text-align: center;
}

#create-cat, 
#cats{
    text-align: center;
}

section {
    margin-top: 3em;
}

/* Cat Form */

#catForm {
    margin: auto;
}

form {
    max-width: 500px;
}

input, 
select, 
button {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom:20px;
} 

label {
    width: 100%;
    display: block;
    margin-bottom: 6px;
}

select:hover {
    cursor: pointer;
}

input, 
select {
    border: 1px solid var(--blue);
} 

button {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid transparent;
}

button:hover {
    background-color: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    box-sizing: border-box;
    cursor: pointer;
}

/* Cat list */

.cat-list {
    list-style-type: None;
}

ul {
    padding-inline-start: 0;
}

.cat-item {
    background-image: linear-gradient(to right, var(--blue), var(--pink));
    max-width: 500px;
    border-radius: 15px;
    margin: auto;
    margin-top: 2em;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.3);
}

.cat-item-link {
    text-decoration: None;
    color: var(--white);
}

.cat-item-img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 18px;
}

h3 {
    font-size: 24px;
}

.cat-item-breed,
.cat-item-stage {
    margin:none;
    padding:16px;
}